[submodule "external/lerobot"]
	path = external/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "external/mjlab"]
	path = external/mjlab
	url = https://github.com/mujocolab/mjlab.git
